<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">

<title>社員削除</title>
</head>
<body>

	<h1>社員削除</h1>
	<form action="/training/employee/delete/${employee.id.value}/execute" method="POST">
		<table>
			<tbody>
				<tr>
					<th>氏名</th>
					<td> ${employee.name.fullName()}</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>${employee.gender.label}</td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td>${employee.dateOfBirth.value}</td>
				</tr>
				<tr>
					<th>所属部署</th>
					<td>${employee.department.name.value}</td>
				</tr>
			</tbody>
		</table>
		<p>この社員情報を削除します。よろしいですか？</p>

		<p>
			<input type="button" onclick="location.href='/training/employee'" value="戻る" />
			<input type="submit" value="削除">
		</p>
	</form>

</body>
</html>