<!DOCTYPE html>
	<html lang="ja">
		<head>
			<meta charset="UTF-8">
			<title>社員情報</title>
		</head>
		<body>

			<table>
				<tbody>
					<tr>
						<th>ID</th>
						<td> ${employee.id.value}</td>
					</tr>
					<tr>
						<th>名前</th>
						<td> ${employee.name.fullName()}</td>
					</tr>
					<tr>
						<th>性別</th>
						<td> ${employee.gender.label}</td>
					</tr>
					<tr>
						<th>生年月日</th>
						<td> ${employee.dateOfBirth.value}</td>
					</tr>
					<tr>
						<th>所属部署</th>
						<td> ${employee.department.name.value}</td>
					</tr>
				</tbody>
			</table>
			<p><a href= /training/employee/modify/${employee.id.value}>社員情報を編集する</a></p>
			<p><a href = /training/employee>社員一覧へ</a></p>
		</body>

	</html>
